<div class="container-fluid">
    <h1 align="center">¿A cual de estos roles te registrarás?</h1>
    <div class="row" align="center">
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                value="inmobiliaria" [(ngModel)]="rolRegistro">
                <label class="form-check-label" for="inlineRadio1"><h4>Inmobiliaria</h4></label>
            </div>
        </div>
        <div class="col">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" 
                value="usuario" [(ngModel)]="rolRegistro">
                <label class="form-check-label" for="inlineRadio1"><h4>Cliente</h4></label>
            </div>
        </div>
    </div>
    <div [hidden]="rolRegistro != 'inmobiliaria'" style="margin-top: 20px;">
        <form (ngSubmit)="registrarInmobiliaria()">
               <div class="row">
                    <div class="col">
                        <label for="nombre"><h6>Ingresa el nombre de tu inmobiliaria</h6></label>
                        <input type="text" name="nombre" id="nombre" class="form-control" required
                        [(ngModel)]="inmobiliaria.nombre" #txtNombre="ngModel">

                        <label for="correo"><h6>Ingresa un correo electrónico</h6></label>
                        <input type="text" name="correo" id="correo" class="form-control" required
                        [(ngModel)]="inmobiliaria.correo" #txtcorreo="ngModel">

                        <label for="contrasena"><h6>Ingresa tu contraseña, no miraremos</h6></label>
                        <input type="password" name="contrasena" id="contrasena" class="form-control" required
                        [(ngModel)]="contrasena" #txtcontrasena="ngModel">
                    </div>
                    <div class="col">
                        <label for="NIT"><h6>NIT</h6></label>
                        <input type="text" name="NIT" id="NIT" class="form-control" required
                        [(ngModel)]="inmobiliaria.NIT" #txtNIT="ngModel">

                        <label for="telefono"><h6>Ingresa un Teléfono</h6></label>
                        <input type="text" name="telefono" id="telefono" class="form-control" required
                        [(ngModel)]="inmobiliaria.telefono" #txtNIT="ngModel">

                        <label for="Imagenes"><h6>Agrega un logo de tu inmobiliaria</h6></label>
                        <input type="file" multiple accept="image/*" (change)="onUpload($event)" class="form-control">
                    </div> 
               </div> 
               <div class="row" style="margin-top: 10px;">
                    <div class="col">
                        <button class="btn btn-info btn-lg btn-block" (click)="cancelar()">
                            Cancelar
                        </button> 
                </div>
                    <div class="col">
    
                    </div>
                    <div class="col">
                        <button type="submit" class="btn btn-success btn-lg btn-block">
                            Registrarse
                        </button>
                    </div>
                </div>
        </form>
    </div>
    <div [hidden]="rolRegistro != 'usuario'" style="margin-top: 20px;">
        <form (ngSubmit)="registrarCliente()">
            <div class="row">
                 <div class="col">
                     <label for="nombre"><h6>Ingresa tu nombre guapeton@</h6></label>
                     <input type="text" name="nombre" id="nombre" class="form-control" required
                     [(ngModel)]="cliente.nombre" #txtNombre="ngModel">

                     <label for="correo"><h6>Ingresa tu correo electrónico</h6></label>
                     <input type="text" name="correo" id="correo" class="form-control" required
                     [(ngModel)]="cliente.correo" #txtcorreo="ngModel">

                     <label for="contrasena"><h6>Ingresa tu contraseña, no miraremos</h6></label>
                     <input type="password" name="contrasena" id="contrasena" class="form-control" required
                     [(ngModel)]="contrasena" #txtcontrasena="ngModel">
                </div>
                <div class="col">
                    <label for="cedula"><h6>Ingresa tu cédula</h6></label>
                    <input type="text" name="cedula" id="cedula" class="form-control" required
                    [(ngModel)]="cliente.cedula" #txtNIT="ngModel">

                    <label for="telefono"><h6>Ingresa un Teléfono</h6></label>
                    <input type="text" name="telefono" id="telefono" class="form-control" required
                    [(ngModel)]="cliente.telefono" #txtNIT="ngModel">
                </div> 
            </div> 
            <div class="row" style="margin-top: 10px;">
                 <div class="col">
                     <button class="btn btn-info btn-lg btn-block" (click)="cancelar()">
                         Cancelar
                     </button> 
             </div>
                 <div class="col">
 
                 </div>
                 <div class="col">
                     <button type="submit" class="btn btn-success btn-lg btn-block">
                         Registrarse
                     </button>
                 </div>
             </div>
     </form>
    </div>
</div>

