<div class="container-fluid">
    <h1 align="center">Este es tu perfil</h1>
    <div class="row" style="margin-top: 20px;">
        <div class="col">
            <img [src]="getImageUrl()"
             class="rounded" style="min-width: 20vw;height: 20vw;margin: auto;">
        </div>
        <div class="col">
            <div class="row">
                <p><strong>Nombre: </strong> {{inmobiliaria.Nombre}}</p>
            </div>
            <div class="row">
                <p><strong>Correo: </strong> {{inmobiliaria.Correo}}</p>
            </div>
            <div class="row">
                <p><strong>Teléfono: </strong> {{inmobiliaria.TelefonoContacto}}</p>
            </div>
            <div class="row">
                <p><strong>NIT: </strong> {{inmobiliaria.NIT}}</p>
            </div>
        </div>
        <div class="col-3">
            <div>
                <button class="btn btn-warning" (click)="editarPerfil()">
                    Editar tu perfil
                <img src="assets/images/edit-tool.png" style="position: relative; float: right; width: 25px; height: inherit; margin-left: 5px;"></button>
            </div>
            <div style="margin-top: 20px;">
                <button class="btn btn-danger" (click)="borrarPerfil()">
                    Borrar tu cuenta
                    <img src="assets/images/trash.png" style="position: relative; float: right; width: 25px; height: inherit; margin-left: 5px;"></button>
            </div>
        </div>
        <div class="col-3">
            <div class="seleccion" (click)="verInmuebles()">
                <img src="assets/images/verInmueble.png"
                class="rounded" style="min-width: 10vw;height: 10vw;margin: auto;" alt="Ver tus Inmuebles">
                <p><strong>Click en la casita para ver tus Inmuebles</strong></p>
            </div>
            <div class="seleccion" (click)="verRepresentantes()">
                <img src="assets/images/representante.png"
                class="rounded" style="min-width: 10vw;height: 10vw;margin: auto;" alt="Ver tus representates">
                <p><strong>Click en el avatar para ver tus Representantes</strong></p>
            </div>
        </div>
    </div>
    <div class="row" style="margin-top: 20px;">
        <div class="col-3">
            <button class="btn btn-info" (click)="volver()">
                Volver
            </button>
        </div>
    </div>

</div>
