<div class="container-fluid">
    <h1 align="center">{{this.nameRepre}}</h1>
    <div class="row">
        <div class="seleccion col alert alert-success" style="text-align: center;margin: 10px;" (click)="verChat()">
            <h5 align="center">Ver Chats</h5>
            <img src="assets/images/dialogue.png"
            class="rounded" style="width: 20vw; height: 20vw;" alt="Ver tus Inmuebles">
        </div>
        <div class="seleccion col alert alert-success" style="text-align: center; margin: 10px;" (click)="verCalendario()">
            <h5 align="center">Ver Calendario</h5>
            <img src="assets/images/protection.png"
            class="rounded" style="width: 20vw; height: 20vw;" alt="Ver tus Inmuebles">
        </div>

</div>
