<div class="container-fluid" [hidden]="!(inmuebles.length > 0)">
    <h1 align="center">Aqui estan todos tus inmuebles</h1>
    <div class="row" style="margin-bottom: 10px;">
        <div class="col-8">
            <input type="text" name="busqueda" id="busqueda" style="width: inherit; height: inherit;"
            [(ngModel)]="busqueda" placeholder="Busca aqui un inmueble">    
        </div>
        <div class="col-2">
            <button class="btn btn-primary btn-sm" (click)="buscarInmueble()">
                Buscar Inmueble
            </button>
        </div>
        <div class="col-2">
            <button class="btn btn-success btn-sm" (click)="agregarInmueble()">
                Agregar Inmueble
            </button>
        </div>
    </div>
    <div class="row alert alert-warning seleccion" *ngFor="let inmueble of inmuebles" (click)="verInmueble()">
        <div class="col-2">
            <h5>Como se ve:</h5>
            <img [src]="getImageUrl()" class="logo">
            
        </div>
        <div class="col-3">
            <h5>Titulo: </h5>
            <p>
                {{inmueble.Titulo}}
            </p>
        </div>
        <div class="col-3">
            <h5>Descripcion: </h5>
            <p>
                {{inmueble.Descripcion}}
            </p>
        </div>
        <div class="col-2">
            <h5>Area(Metros cuadrados): </h5>
            {{inmueble.AreaConstruida}}
        </div>
        <div class="col-2">
            
            <div *ngIf="inmueble.MontoArriendo == 0">
                <h5>Monto de venta $$: </h5>
                {{inmueble.MontoVenta}}
            </div>
            
            <div *ngIf="inmueble.MontoVenta == 0">
                <h5>Monto de arriendo $$</h5>
                {{inmueble.MontoArriendo}}
            </div>
        </div>
    </div>
</div>
<div class="container-fluid alert alert-info" [hidden]="inmuebles.length > 0" align="center">
    <h1 class="alert-heading">Holy Guacamole!</h1>
    <p>Parece que no tienes inmuebles en tu inmobiliaria</p>
    <hr>
    <p><a href="inmobiliaria/crear-inmueble">Haz click aqui para crear un inmueble!</a></p>
</div>