*{
    font-family: 'Rubik', sans-serif;
};

h1{
    font-weight: 600;
}

button{
    background-color: #FFB000;
    margin: 5px;
}

.logo{
    width: auto;
    height: 40px;
}
h4{
    color: white;
}
.seleccion{
    cursor: pointer;
  }
