<h1 align="center">Bienvenido a HomLess</h1>
<div class="container-fluid">
    <div class="row-12">
        <angular-image-slider  [autoRotate]="true"
        [autoRotateAfter]="2000"
        [autoRotateRight]="true" [images]="urlImagenes"></angular-image-slider>
    </div>
    <h2 align="center"></h2>
    <div class="row">
        <div class="col items-align-center">
            <h6>Que es HomLess?</h6>
            <p style="text-align: justify;">
                HomLess, busca facilitar la comunicación entre personas que desean
                arrendar o comprar un inmueble y personas o entidades que provean uno, por lo tanto,
                ofrecemos un aplicativo web que provea una plataforma para este canal de
                comunicación, una plataforma que genere estabilidad y tranquilidad para ambas partes,
                de igual forma la promoción de inmuebles para que los interesados en uno de estos
                puedan encontrar el cumple con sus necesidades, gustos y preferencias.
            </p>
        </div>
        <div class="col items-align-center">
            <h6>Nuestra Vision </h6>
            <p style="text-align: justify;">
                HomLess busca satisfacer las necesidades de finca raíz de las personas, dando
                estabilidad y tranquilidad a las inmobiliarias. De la misma manera, se pretende
                acompañar en el proceso de búsqueda de un hogar con las características ideales para
                cada uno de los consumidores del sector inmobiliario.
            </p>
        </div>
    </div>
</div>